.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: 2s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    width: 80px;
    height: 80px;
}

.ex-5-square:active{
    width: 40px;
    height: 40px;
}

.ex-6-img:hover{
    filter: grayscale();
}

.ex-7-img{
    transition: 2s;
}

.ex-7-img:hover{
    filter: grayscale(.9) blur(2px);
}

.ex-8-img{
    transition: 2s;
}

.ex-8-img:hover{
    filter: sepia(.9) grayscale(.5);
    border-radius: 20px;
}

.ex-9-img{
    transition: 2s;
}

.ex-9-img:hover{
    filter: sepia(.9) grayscale(.5);
    border-radius: 20px;
    transform: scale(1.5);
}

/* Animazione keyframes chiamata loading e richiamata nella dichiarazione abbreviata*/
.ex-10-icon {
    animation: loading 1.5s linear infinite;
}
@keyframes loading {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
    animation: loading-hover 1.5s linear infinite;
}
@keyframes loading-hover {
    0% {
        transform: rotate()
    }
    75% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(0);
    }
}

